<p style="color: green"><%= notice %></p>

<h1>Messages</h1>

<%= tag.div do %>
  <%= tag.div id: "messages", class: "h-96 overflow-auto" do %>
    <% @messages.each do |message| %>
      <%= tag.div message.content, class: message.from_current_user ? "sender" : "recipient" %>
    <% end %>
  <% end %>

  <%= form_with model: @conversation.messages.new, url: "/conversations/#{@conversation.id}/messages" do |f| %>
    <%= f.text_field :content, placeholder: "message..." %>
    <%= f.submit "send", class: "p-2 font-bold" %>
  <% end %>
<% end %>

<%= link_to "New message", new_message_path %>
