<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <%# app/views/listings/index.html.erb %>
  
  <%= turbo_frame_tag @listings do  %>
  <% content_for :title, "Listings" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Listings</h1>
    <%= link_to "New listing", new_listing_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="listings" class="min-w-full">
    <% @listings.each do |listing| %>
      <%= render listing %>
      <p>
        <%= link_to "Show this listing", listing, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
  <% if @listings.prev_page %>
    <%= link_to 'Previous', listings_path(page: @listings.prev_page) %>
    <% end %>

    <% if @listings.next_page %>
    <%= link_to 'Next', listings_path(page: @listings.next_page) %>
  <% end %>  
  <% end %>
</div>
